$color-white: #fff;
$color-black: #000;

//default theme
$color-text: rgb(22, 3, 126);
$color-bg: rgba(240, 234, 227,0.5);
$color-dark: #1c1c21;
$color-form-bg: #f0eae3;
$color-btn-default: #8ffaf3;
$color-green: #8ffaf3;
$color-grey: #82828d;

//chart arrows
$color-rise: #8ffac0;
$color-drop: #ff7e96;
